<a href="https://colab.research.google.com/github/Ssendags/Food_Sales_Predictions/blob/main/Ssendagire_Denis_Abalone_Preprocessing_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Let us load the data
import pandas as pd

# Edit and place your path here
filename = "/content/drive/MyDrive/Colab Notebooks/abalone.data"
# Tell Pandas that the first row is not Column names use header=None argument
df = pd.read_csv(filename, header=None)
df.head()

   0      1      2      3       4       5       6      7   8
0  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150  15
1  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
2  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
3  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
4  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7

In [ ]:
# Add column headers from the metadata text file: Sex, Length, Diameter, Height, Whole weight, Shucked weight, Viscera weight, Shell weight, Rings
df.columns = ["Sex", "Length", "Diameter", "Height", "Whole weight", "Shucked weight", "Viscera weight", "Shell weight", "Rings"]
df.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

Explore the data.

In [ ]:
# How many rows and columns? There are 4177 rows and 9 columns.
# What are the columns data types?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sex             4177 non-null   object
 1   Length          4177 non-null   float64
 2   Diameter        4177 non-null   float64
 3   Height          4177 non-null   float64
 4   Whole weight    4177 non-null   float64
 5   Shucked weight  4177 non-null   float64
 6   Viscera weight  4177 non-null   float64
 7   Shell weight    4177 non-null   float64
 8   Rings           4177 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

In [ ]:
df["Sex"].unique()

array(['M', 'F', 'I'], dtype=object)

In [ ]:
# Find out how many null values exist.
df.isna().sum()

Sex               0
Length            0
Diameter          0
Height            0
Whole weight      0
Shucked weight    0
Viscera weight    0
Shell weight      0
Rings             0
dtype: int64

Task 1: Separate data into the features matrix (X) and target vector (y). Goal is to determine age of Abalone using number of rings. Therefore target will be column: Rings. The rest of the columns will be the features.

In [ ]:
y = df["Rings"]
X = df.drop(columns = "Rings")
y.head()

0    15
1     7
2     9
3    10
4     7
Name: Rings, dtype: int64

In [ ]:
X.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055

Task 2: Train/test split the data.

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, test_size=0.5)

In [ ]:
# Check training set to be 50%
X_train.shape

(2088, 8)

In [ ]:
# Check testing set to be 50%
X_test.shape

(2089, 8)

Task 3: Use column transformers to transform the appropriate columns in the appropriate ways.

3(a): Select the categorical columns and the numerical columns.

In [ ]:
from sklearn.compose import make_column_selector
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer

In [ ]:
# Select the categorical columns.
cat_selector = make_column_selector(dtype_include = "object")
cat_selector(X_train)

['Sex']

In [ ]:
# Select numerical columns
num_selector = make_column_selector(dtype_include = "float")
num_selector(X_train)

['Length',
 'Diameter',
 'Height',
 'Whole weight',
 'Shucked weight',
 'Viscera weight',
 'Shell weight']

In [ ]:
train_cat_data = X_train[cat_selector(X_train)]
test_cat_data = X_test[cat_selector(X_test)]
train_cat_data

     Sex
3307   F
3233   F
1142   M
1198   M
85     F
...   ..
3444   F
466    F
3092   M
3772   M
860    F

[2088 rows x 1 columns]

3(b): Use a OneHotEncoder to encode the categorical columns.

In [ ]:
# We have only one categorical column (Sex) which we will encode.
# Instantiate one hot encoder.
# Sparse and handle_unknown parameters are set to change the default behaviour of the encorder
ohe_encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
#fit the OneHotEncoder on the training data
ohe_encoder.fit(train_cat_data)
#transform both the training and the testing data
train_ohe = ohe_encoder.transform(train_cat_data)
test_ohe = ohe_encoder.transform(test_cat_data)

In [ ]:
train_ohe

array([[1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       ...,
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.]])

In [ ]:
test_ohe

array([[0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.]])

In [ ]:
#convert Numpy arrays to dataframe, extract new column names from encoder
#set prefixes to original column names
ohe_column_names = ohe_encoder.get_feature_names_out(train_cat_data.columns)
# The above method will get geature names from the onehotencoded data

# Create a dataframe
train_ohe = pd.DataFrame(train_ohe, columns=ohe_column_names)
test_ohe = pd.DataFrame(test_ohe, columns=ohe_column_names)
train_ohe

      Sex_F  Sex_I  Sex_M
0       1.0    0.0    0.0
1       1.0    0.0    0.0
2       0.0    0.0    1.0
3       0.0    0.0    1.0
4       1.0    0.0    0.0
...     ...    ...    ...
2083    1.0    0.0    0.0
2084    1.0    0.0    0.0
2085    0.0    0.0    1.0
2086    0.0    0.0    1.0
2087    1.0    0.0    0.0

[2088 rows x 3 columns]

Concatenate the One-hot Encoded Categorical Features with the Numerical ones.

In [ ]:
# create a numeric selector
num_selector = make_column_selector(dtype_include='number')

In [ ]:
# Slice the numeric columns from the train and test set
train_nums = X_train[num_selector(X_train)].reset_index(drop=True)
test_nums = X_test[num_selector(X_test)].reset_index(drop=True)

In [ ]:
# Combine the encoded categorical and numerical dataframes
X_train_processed = pd.concat([train_nums, train_ohe], axis=1)
X_test_processed = pd.concat([test_nums, test_ohe], axis=1)
X_train_processed.head(1996)

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Sex_F,Sex_I,Sex_M
0,0.450,0.325,0.135,0.4380,0.1805,0.1165,0.110,1.0,0.0,0.0
1,0.610,0.480,0.190,1.2955,0.5215,0.3225,0.365,1.0,0.0,0.0
2,0.575,0.445,0.170,1.0225,0.5490,0.2175,0.228,0.0,0.0,1.0
3,0.715,0.535,0.190,1.6755,0.8890,0.3130,0.420,0.0,0.0,1.0
4,0.570,0.465,0.180,1.2950,0.3390,0.2225,0.440,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
1991,0.465,0.350,0.120,0.5205,0.2015,0.1625,0.185,0.0,0.0,1.0
1992,0.515,0.380,0.135,0.6615,0.2875,0.2095,0.155,0.0,0.0,1.0
1993,0.710,0.540,0.205,1.5805,0.8020,0.2870,0.435,1.0,0.0,0.0
1994,0.475,0.335,0.100,0.4425,0.1895,0.0860,0.135,0.0,1.0,0.0
1995,0.275,0.200,0.065,0.0920,0.0385,0.0235,0.027,0.0,1.0,0.0

In [ ]:
X_train_processed.describe()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Sex_F,Sex_I,Sex_M
count,2088.000000,2088.000000,2088.000000,2088.000000,2088.000000,2088.000000,2088.000000,2088.000000,2088.000000,2088.000000
mean,0.528187,0.411501,0.141078,0.849435,0.368747,0.184978,0.244942,0.311303,0.309866,0.378831
std,0.120401,0.099521,0.044324,0.500743,0.228240,0.110839,0.142186,0.463137,0.462549,0.485212
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,0.000000,0.000000,0.000000
25%,0.455000,0.350000,0.115000,0.448875,0.189500,0.096000,0.133375,0.000000,0.000000,0.000000
50%,0.550000,0.430000,0.145000,0.818250,0.345750,0.176000,0.238250,0.000000,0.000000,0.000000
75%,0.620000,0.485000,0.170000,1.171625,0.514625,0.258000,0.335000,1.000000,1.000000,1.000000
max,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,0.897000,1.000000,1.000000,1.000000

In [ ]:
# Explore the data
X_train_processed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2088 entries, 0 to 2087
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Length          2088 non-null   float64
 1   Diameter        2088 non-null   float64
 2   Height          2088 non-null   float64
 3   Whole weight    2088 non-null   float64
 4   Shucked weight  2088 non-null   float64
 5   Viscera weight  2088 non-null   float64
 6   Shell weight    2088 non-null   float64
 7   Sex_F           2088 non-null   float64
 8   Sex_I           2088 non-null   float64
 9   Sex_M           2088 non-null   float64
dtypes: float64(10)
memory usage: 163.2 KB

In [ ]:
X_test_processed.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Sex_F,Sex_I,Sex_M
0,0.605,0.455,0.160,1.1035,0.4210,0.3015,0.325,0.0,0.0,1.0
1,0.590,0.440,0.150,0.8725,0.3870,0.2150,0.245,0.0,0.0,1.0
2,0.560,0.445,0.195,0.9810,0.3050,0.2245,0.335,1.0,0.0,0.0
3,0.635,0.490,0.170,1.2615,0.5385,0.2665,0.380,1.0,0.0,0.0
4,0.475,0.385,0.145,0.6175,0.2350,0.1080,0.215,0.0,0.0,1.0

In [ ]:
X_test_processed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2089 entries, 0 to 2088
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Length          2089 non-null   float64
 1   Diameter        2089 non-null   float64
 2   Height          2089 non-null   float64
 3   Whole weight    2089 non-null   float64
 4   Shucked weight  2089 non-null   float64
 5   Viscera weight  2089 non-null   float64
 6   Shell weight    2089 non-null   float64
 7   Sex_F           2089 non-null   float64
 8   Sex_I           2089 non-null   float64
 9   Sex_M           2089 non-null   float64
dtypes: float64(10)
memory usage: 163.3 KB

Task 3(c): Use a StandardScaler to scale the numeric columns.

In [ ]:
from sklearn.preprocessing import StandardScaler
# Instantiate the Standard Scaler and the One hot encoder
scaler = StandardScaler()

In [ ]:
# Fit scaler on training data
scaler.fit(X_train_processed)

StandardScaler()

In [ ]:
# transform training data
train_scaled = scaler.transform(X_train_processed)

In [ ]:
# transform testing data
test_scaled = scaler.transform(X_test_processed)

In [ ]:
# transform back to a dataframe
X_train_scaled = pd.DataFrame(train_scaled, columns=X_train_processed.columns)
X_train_scaled.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Sex_F,Sex_I,Sex_M
0,-0.649544,-0.869384,-0.137151,-0.821846,-0.824975,-0.617959,-0.949279,1.487383,-0.67007,-0.780941
1,0.679662,0.688446,1.104014,0.891021,0.669425,1.241033,0.844573,1.487383,-0.67007,-0.780941
2,0.388899,0.336678,0.652681,0.345700,0.789941,0.293488,-0.119182,-0.672322,-0.67007,1.280506
3,1.551954,1.241225,1.104014,1.650075,2.279960,1.155302,1.231482,-0.672322,-0.67007,1.280506
4,0.347361,0.537688,0.878348,0.890022,-0.130364,0.338610,1.372177,1.487383,-0.67007,-0.780941

In [ ]:
# Show the descriptive statistics
X_train_scaled.describe().round(2)

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Sex_F,Sex_I,Sex_M
count,2088.00,2088.00,2088.00,2088.00,2088.00,2088.00,2088.00,2088.00,2088.00,2088.00
mean,-0.00,0.00,-0.00,-0.00,-0.00,-0.00,0.00,-0.00,-0.00,0.00
std,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
min,-3.76,-3.58,-3.18,-1.69,-1.61,-1.66,-1.71,-0.67,-0.67,-0.78
25%,-0.61,-0.62,-0.59,-0.80,-0.79,-0.80,-0.78,-0.67,-0.67,-0.78
50%,0.18,0.19,0.09,-0.06,-0.10,-0.08,-0.05,-0.67,-0.67,-0.78
75%,0.76,0.74,0.65,0.64,0.64,0.66,0.63,1.49,1.49,1.28
max,2.38,2.40,22.32,3.95,4.91,5.19,4.59,1.49,1.49,1.28

3(d): Use a column Transformer to match the transormation to the type of column.

In [ ]:
# Instantiate the One hot encoder
ohe = OneHotEncoder(handle_unknown='ignore')

In [ ]:
# Make tuples for preprocessing the categorical and numeric columns
num_tuple = (scaler, num_selector)
cat_tuple = (ohe, cat_selector)

In [ ]:
# Instantiate the column transformer object
from sklearn.compose import make_column_transformer
col_transformer = make_column_transformer(num_tuple, cat_tuple, remainder = 'passthrough')

In [ ]:
# Fit the transformer
col_transformer.fit(X_train_processed)

ColumnTransformer(remainder='passthrough',
                  transformers=[('standardscaler', StandardScaler(),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7f111187eb10>),
                                ('onehotencoder',
                                 OneHotEncoder(handle_unknown='ignore'),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7f11118a28d0>)])

3(e): Transform and display the resulting Numpy array.

In [ ]:
# Make and view the transformations
X_train_transformed = col_transformer.transform(X_train_processed)
X_test_transformed = col_transformer.transform(X_test_processed)
X_train_transformed_df.head()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Sex_F,Sex_I,Sex_M
0,0.450,0.325,0.135,0.4380,0.1805,0.1165,0.110,1.0,0.0,0.0
1,0.610,0.480,0.190,1.2955,0.5215,0.3225,0.365,1.0,0.0,0.0
2,0.575,0.445,0.170,1.0225,0.5490,0.2175,0.228,0.0,0.0,1.0
3,0.715,0.535,0.190,1.6755,0.8890,0.3130,0.420,0.0,0.0,1.0
4,0.570,0.465,0.180,1.2950,0.3390,0.2225,0.440,1.0,0.0,0.0

In [ ]:
X_train_transformed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2088 entries, 0 to 2087
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Length          2088 non-null   float64
 1   Diameter        2088 non-null   float64
 2   Height          2088 non-null   float64
 3   Whole weight    2088 non-null   float64
 4   Shucked weight  2088 non-null   float64
 5   Viscera weight  2088 non-null   float64
 6   Shell weight    2088 non-null   float64
 7   Sex_F           2088 non-null   float64
 8   Sex_I           2088 non-null   float64
 9   Sex_M           2088 non-null   float64
dtypes: float64(10)
memory usage: 163.2 KB

In [ ]:

X_train_transformed_df.to_numpy()

array([[0.45 , 0.325, 0.135, ..., 1.   , 0.   , 0.   ],
       [0.61 , 0.48 , 0.19 , ..., 1.   , 0.   , 0.   ],
       [0.575, 0.445, 0.17 , ..., 0.   , 0.   , 1.   ],
       ...,
       [0.51 , 0.395, 0.125, ..., 0.   , 0.   , 1.   ],
       [0.575, 0.465, 0.12 , ..., 0.   , 0.   , 1.   ],
       [0.595, 0.475, 0.16 , ..., 1.   , 0.   , 0.   ]])